</main>
    <footer>
        <p class="tagline">"Safer Travels, Secured by AI and Blockchain <br>Your Trusted Companion on the Go."</p>
        <p>&copy; 2025 Xenagos.</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/script.js"></script>
</body>
</html>
