</main>
    <footer>
        <p>&copy; 2025 Xenagose.</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/script.js"></script>
</body>
</html>